@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Super Puzzle Slider Turbo</h1>
    <button class="btn btn-primary btn-lg">Start!</button>
    <div class="container">
        <div class="row">
            <div class="col">
                <a asp-action="Index" asp-controller="Pictures" class="btn btn-primary">Pictures</a>
            </div>
        </div>
    </div>
    <!--
    <p><button class="btn btn-primary btn-lg" onclick="restart()">Start!</button></p>
    <div id="overall">
        <div id="puzzlearea">
            <!-- the following are the fifteen puzzle pieces --
            <div>1</div>  <div>2</div>  <div>3</div>  <div>4</div>
            <div>5</div>  <div>6</div>  <div>7</div>  <div>8</div>
            <div>9</div>  <div>10</div> <div>11</div> <div>12</div>
            <div>13</div> <div>14</div> <div>15</div>
        </div>

        <div id="controls">
            <button id="shufflebutton">Shuffle</button>
        </div>
    </div>-->
</div>