@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
    <div class="col-sm-12 col-md-3">
        <div class="card">
            <img src="/images/1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a auctor dolor. In tristique convallis dui quis blandit. Cras ut libero egestas nulla aliquam efficitur et id nulla. Sed aliquet nulla eget enim varius tincidunt. Fusce ultrices tellus id turpis pretium dictum. Integer ex lacus, posuere eu tincidunt euismod, gravida sit amet augue. Maecenas eu libero sed massa porttitor tristique. Ut risus orci, molestie ut tristique eu, auctor at felis. Mauris luctus porttitor mauris, et facilisis nisi tincidunt sit amet.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Super Puzzle Slider Turbo</h3>
                <p class="card-text">A classic sliding piece puzzle game.</p>
                <a href="#" class="btn btn-primary">Start Sliding!</a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-3">
        <div class="card">
            <img src="/images/2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a auctor dolor. In tristique convallis dui quis blandit. Cras ut libero egestas nulla aliquam efficitur et id nulla. Sed aliquet nulla eget enim varius tincidunt. Fusce ultrices tellus id turpis pretium dictum. Integer ex lacus, posuere eu tincidunt euismod, gravida sit amet augue. Maecenas eu libero sed massa porttitor tristique. Ut risus orci, molestie ut tristique eu, auctor at felis. Mauris luctus porttitor mauris, et facilisis nisi tincidunt sit amet.</p>
            </div>
        </div>
    </div>
</div>
</div>
    <!--
    <h1 class="display-4 text-center">Super Puzzle Slider Turbo</h1>
    <button class="btn btn-primary btn-lg">Start!</button>
    <div class="container">
        <div class="row">
            <div class="col">
                <a asp-action="Index" asp-controller="Pictures" class="btn btn-primary">Pictures</a>
            </div>
        </div>
    </div>-->
    <!--
    <p><button class="btn btn-primary btn-lg" onclick="restart()">Start!</button></p>
    <div id="overall">
        <div id="puzzlearea">
            <!-- the following are the fifteen puzzle pieces --
            <div>1</div>  <div>2</div>  <div>3</div>  <div>4</div>
            <div>5</div>  <div>6</div>  <div>7</div>  <div>8</div>
            <div>9</div>  <div>10</div> <div>11</div> <div>12</div>
            <div>13</div> <div>14</div> <div>15</div>
        </div>

        <div id="controls">
            <button id="shufflebutton">Shuffle</button>
        </div>
    </div>-->