@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
    <div class="col-sm-12 col-md-3">
        <div class="card text-center">
            <img src="/images/1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <a href="#" class="btn btn-primary">Show/Hide image</a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 puzzle-col">
        <div class="card text-center">
            <div class="card-body">
                <h2 class="card-title">Super Puzzle Slider Turbo</h2>
                <p class="card-text">A classic sliding piece puzzle game.</p>
                <a href="#" class="btn btn-primary">Start Sliding!</a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-3 col-use-this">
        <div class="card text-center">
            <img src="/images/2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="row align-items-center">
                    <i class="fa fa-caret-left fa-3x" aria-hidden="true"></i>
                    <a href="#" class="btn btn-primary">Use this image</a>
                    <i class="fa fa-caret-right fa-3x" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-3 side-col">
            <a href="#" class="btn btn-primary btn-block">EASY</a>
            <a href="#" class="btn btn-primary btn-block">MEDIUM</a>
            <a href="#" class="btn btn-primary btn-block">HARD</a>
        </div>
        <div class="col-sm-12 col-md-6">
            <!--<img src="/images/2.jpg" class="img-fluid" />-->
            <p><button class="btn btn-primary btn-lg" onclick="restart()">Start!</button></p>
            <div id="overall">
                <div id="puzzlearea">
                    <!-- the following are the fifteen puzzle pieces -->
                    <div>1</div>  <div>2</div>  <div>3</div>  <div>4</div>
                    <div>5</div>  <div>6</div>  <div>7</div>  <div>8</div>
                    <div>9</div>  <div>10</div> <div>11</div> <div>12</div>
                    <div>13</div> <div>14</div> <div>15</div>
                </div>

                <div id="controls">
                    <button id="shufflebutton">Shuffle</button>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-3 side-col">
            <a href="#" class="btn btn-primary btn-block">COLOR</a>
            <a href="#" class="btn btn-primary btn-block">B&W</a>
            <a href="#" class="btn btn-primary btn-block">LINE</a>
        </div>
    </div>
</div>
            <!--
            <h1 class="display-4 text-center">Super Puzzle Slider Turbo</h1>
            <button class="btn btn-primary btn-lg">Start!</button>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <a asp-action="Index" asp-controller="Pictures" class="btn btn-primary">Pictures</a>
                    </div>
                </div>
            </div>-->
                    <!--
            <p><button class="btn btn-primary btn-lg" onclick="restart()">Start!</button></p>
            <div id="overall">
                <div id="puzzlearea">
                    <!-- the following are the fifteen puzzle pieces --
                    <div>1</div>  <div>2</div>  <div>3</div>  <div>4</div>
                    <div>5</div>  <div>6</div>  <div>7</div>  <div>8</div>
                    <div>9</div>  <div>10</div> <div>11</div> <div>12</div>
                    <div>13</div> <div>14</div> <div>15</div>
                </div>

                <div id="controls">
                    <button id="shufflebutton">Shuffle</button>
                </div>
            </div>-->
