@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Super Puzzle Slider Turbo</h1>
    <p><button class="btn btn-primary btn-lg" onclick="restart()">Start!</button></p>
</div>