<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Puzzle15</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/PuzzleStyle.css" />
    <style>
        .side-col a.btn {
            margin-top: 25%;
            margin-bottom: 25%;
            padding: 2rem;
        }

        .btn-primary {
            margin: auto;
        }

        .puzzle-col {
            margin-top: 5%;
        }
    </style>
    <!--<style>
        html, body {
            padding: 0;
            margin: 0;
            padding-top: 8vh;
            //background: #222;
            color: #111
        }

        .txt {
            color: #000;
            text-align: center;
            font-size: 5vh
        }

        .board {
            padding: 0;
            margin: auto;
            width: 33vh;
            height: 33vh
        }

        .button, .empty {
            border: 0;
            font-size: 3.5vh;
            //margin: 0.5vh;
            padding: 0;
            height: 25%;
            //width: 7.25vh;
            width: 25%;
            line-height: 5vh;
            vertical-align: middle;
            background: lightblue;
            text-align: center;
            //border-radius: 3px;
            cursor: pointer;
            float: left
        }

        .empty {
            background: #333;
            border: 1px solid #111
        }
    </style>-->
</head>
<body onload="">   
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Puzzle15.js"></script>
    <script src="~/js/canvasjs.min.js"></script>
    <script src="~/js/NewPuzzle.js" ></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
